{% extends 'base.html' %}

{% block content %}
  {% comment %} <div class="intro intro-single route bg-image" style="background-image: url({{ post.photo.url }})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">My {{ courses_count }} Course{{ courses_count|pluralize }} Taken</h2>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  <section class="course">
    <div class="container mt-5 p-3 vex-container-black">
      <h1 class="text-center mb-3">My Courses Taken</h1>
      <div class="vex-line bg-primary"></div>
      
      {% include 'portfolio/course_content.html' %}

      <!-- Pagination -->
      <div class="row mx-auto mt-3 mb-5">
        <div class="col">
          <nav aria-label="...">
            {% if courses.has_other_pages %}
            <ul class="pagination justify-content-center">
              {% if courses.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ courses.previous_page_number }}">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}

              {% for i in courses.paginator.page_range %}
                {% if courses.number == i %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if courses.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ courses.next_page_number }}">Next</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}