{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

  <!-- Images of Me -->
  <div class="w3-row-padding w3-padding-16">
    <div class="w3-col">
      <img src="{{ project.photo.url }}" alt="Me" style="width:100%;">
    </div>
  </div>

  <div class="w3-container w3-padding-large" style="margin-bottom:32px" id="about">
    <h1><b>{{ project.title }}</b></h1>
    <h3>{{ project.description|safe }}</h3>
    <p>Posted on {{ project.date_added }}</p>
    {% if project.link %}
        <a href="{{ project.link }}">{{ project.link }}</a>
    {% endif %}
    <hr>
  </div>

{% endblock %}