<footer id="footer" class="footer mt-auto py-5 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-between text-center">
          <div class="col-md-6 order-last order-md-first my-2">
            Copyright &copy; <span id="date"></span> | All Rights Reserved.
            Developed by
            <a href="https://www.facebook.com/dorotan.VeXuZ" target="blank"
              ><strong class="text-light">VeXuZ</strong></a
            >
          </div>
          <div class="col-md-6 order-first order-md-last social-links my-2">
            <a
              href="https://www.facebook.com/dorotan.VeXuZ"
              target="blank"
              class="fab fa-facebook fa-2x mr-3 text-light"
              aria-hidden="true"
              ><i class="bx"></i
            ></a>
            <a
              href="https://github.com/vexuzdorotan"
              target="blank"
              class="fab fa-github fa-2x mr-3 text-light"
              aria-hidden="true"
              ><i class="bx"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/jonneldorotan/"
              target="blank"
              class="fab fa-linkedin fa-2x mr-3 text-light"
              aria-hidden="true"
              ><i class="bx"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>