<footer class="footer mt-auto py-5 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-between text-center">
          <div class="col-md-6 order-last order-md-first my-2">
            Copyright &copy; <span id="date"></span> | All Rights Reserved.
            <span class="footer-credit">
              Developed by
              <a href="https://www.facebook.com/dorotan.Jonnel" target="blank"
                ><strong class="text-light">VeXuZ</strong></a
              >
            </span>
          </div>
          <div class="col-md-6 order-first order-md-last social-links my-2">
            <a
              href="https://www.facebook.com/dorotan.Jonnel"
              target="blank"
            ><i class="fab fa-facebook mx-1 text-light" aria-hidden="true"></i></a>
            <a
              href="https://github.com/vexuzdorotan"
              target="blank"
            ><i class="fab fa-github mx-1 text-light" aria-hidden="true"></i></a>
            <a
              href="https://stackoverflow.com/users/10217282/jonnel-vexuz-dorotan"
              target="blank"
            ><i class="fab fa-stack-overflow mx-1 text-light" aria-hidden="true"></i></a>
            <a
              href="https://www.linkedin.com/in/jonneldorotan/"
              target="blank"
            ><i class="fab fa-linkedin mx-1 text-light" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </footer>