{% load static %}

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark vex-bg-black-alpha">
      <div class="container">
        <a class="navbar-brand" href="#home">VeXfolio</a>
        <div class="social-links">
            <a
              href="https://www.facebook.com/dorotan.VeXuZ"
              target="blank"
              class="fab fa-facebook mr-3 text-light"
              aria-hidden="true"
              ><i class="bx"></i
            ></a>
            <a
              href="https://github.com/vexuzdorotan"
              target="blank"
              class="fab fa-github mr-3 text-light"
              aria-hidden="true"
              ><i class="bx"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/jonneldorotan/"
              target="blank"
              class="fab fa-linkedin mr-3 text-light"
              aria-hidden="true"
              ><i class="bx"></i
            ></a>
          </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#course">Courses</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>