{% load static %}

    <section id="about">
      <div class="container my-5 p-3 vex-container-black">
        <h1 class="text-center mb-3">About Me</h1>
        <div class="vex-line bg-primary"></div>
        <div class="row">
          <img src="{% static 'img/avatar.jpg' %}" alt="" class="col-md-6" />
          <aside class="col-md-6 about-info">
            <h3 class="text-primary">Web Developer</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo voluptatem odio eum est officiis mollitia deserunt corrupti
              saepe suscipit!
            </p>
            <div class="personal">
              <p>
                <span class="text-primary font-weight-bolder">Age: </span>24
              </p>
              <p>
                <span class="text-primary font-weight-bolder">Birthday: </span
                >September 30, 1995
              </p>
              <p>
                <span class="text-primary font-weight-bolder">Location: </span
                >Quezon City, Philippines
              </p>
              <p>
                <span class="text-primary font-weight-bolder">College: </span
                >Rizal Technological University
              </p>
              <p>
                <span class="text-primary font-weight-bolder">Course: </span
                >Bachelor of Science in Computer Engineering
              </p>
            </div>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Excepturi repellat optio commodi nobis consequatur mollitia
              laudantium iure dignissimos libero! Autem hic iste quaerat ullam
              quos voluptas eveniet porro officia, similique nulla vitae
              perspiciatis corrupti atque provident voluptatem, perferendis
              veniam iusto illo ducimus. Distinctio repellendus at temporibus
              dolor nisi deleniti adipisci?
            </p>
          </aside>
        </div>

        <!-- Skills -->
        <h1 class="text-center mt-5 mb-3">My Tech Stacks</h1>
        <div class="vex-line bg-primary"></div>
        <div class="row justify-items-center">
          {% for tech in technologies %}
          <div class="col-lg-6">
            <div class="d-flex align-items-center font-weight-bolder">
              <span
                class="{{ tech.icon }} mr-2 text-primary"
                aria-hidden="true"
              ></span>
              <span>{{ tech.title }}</span> <span class="ml-auto">{{ tech.percent }}%</span>
            </div>
            <div class="progress mb-2">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: {{ tech.percent }}%;"
                aria-valuenow="{{ tech.percent }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                25%
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>