{% load static %}

    <section id="about">
      <div class="container my-5 p-3 vex-container-black border border-primary">
        <h1 class="text-center mb-3">About Me</h1>
        <div class="vex-line bg-primary"></div>
        <div class="row">
          <img src="{% static 'img/avatar.jpg' %}" alt="" class="col-lg-4 rounded-circle my-2 avatar" />
          <aside class="col-lg-8 about-info">
            <h3 class="text-primary">Backend Web Developer</h3>
            <p class="text-justify">
              &emsp; &emsp; Yo? Welcome to my portfolio! I'm Jonnel Salvador S. Dorotan, also known in my nickname as 'VeXuZ'. BS in Computer Engineering and DOST Scholar graduate 2020 from Rizal Technological University.
            </p>
            <div class="personal">
              <p>
                <span class="text-primary font-weight-bolder">
                <i class="fas fa-user-tie"></i> Name: </span
                >Jonnel Salvador S. Dorotan
              </p>
              <p>
                <span class="text-primary font-weight-bolder">
                <i class="fas fa-birthday-cake"></i> Age: </span
                ><span id="age"></span>
              </p>
              <p>
                <span class="text-primary font-weight-bolder">
                <i class="fas fa-home"></i> Location: </span
                >Quezon City, Philippines
              </p>
              <p>
                <span class="text-primary font-weight-bolder">
                <i class="fas fa-mobile-alt"></i> Phone: </span
                >+63 977 674 1162
              </p>
              <p>
                <span class="text-primary font-weight-bolder">
                <i class="fas fa-envelope"></i> E-mail: </span
                >vexuzdorotan@gmail.com
              </p>
              <p>
                <span class="text-primary font-weight-bolder">
                <i class="fas fa-school"></i> College: </span
                >Rizal Technological University
              </p>
              <p>
                <span class="text-primary font-weight-bolder">
                <i class="fas fa-graduation-cap"></i> Degree: </span
                >Bachelor of Science in Computer Engineering
              </p>
            </div>
            <p class="text-justify">
              &emsp; &emsp; Self-motivated and self-taught aspiring software engineer; specializing in backend web development. Willing to work on mobile/desktop development, and implement AI or machine learning libraries on web development in the future. During my spare time, I build websites or web apps using React and Node.js to improve my programming abilities.
            </p>
          </aside>
        </div>

        {% comment %} <div class="github-contrib m-3">
        <h1 class="text-center mb-3">My GitHub Public Contributions</h1>
        <div class="vex-line vex-line-parallax bg-primary"></div>
          <img src="http://ghchart.rshah.org/007bff/vexuzdorotan" alt="vexuzdorotan's Github chart" style="width: 100%;" />
        </div> {% endcomment %}
      </div>
    </section>