{% load static %}

    <section id="course" class="course">
      <div class="container my-5 p-3 vex-container-black">
        <h1 class="text-center mb-3">My Online Courses Taken</h1>
        <div class="vex-line bg-primary"></div>

        <div class="row row-cols-1 row-cols-lg-2">
          {% for course in courses %}
          <div class="col mb-3">
            <div class="card mx-2">
              <div class="row">
                <div class="col">
                  <div class="card text-dark">
                    <div class="card-body">
                      <p class="card-title">
                        <i class="fas fa-flag-checkered text-primary"></i>
                        <a href="{{ course.link }}" target="blank" class="course-title">
                          {{ course.title }}
                        </a>
                      </p>
                    </div>
                    <div class="card-footer py-0">
                      <small class="card-text text-muted">
                        <span class="course-icon mb-2">
                          {% if course.category == 'Udemy' %}
                            <span class="iconify" data-icon="simple-icons:udemy" data-inline="false" ></span>
                          {% else %}
                            <span class="iconify" data-icon="ant-design:youtube-filled" data-inline="false"></span>
                          {% endif %}
                        </span>
                        <span>
                          {{ course.hours|floatformat:"-1" }} Hours
                        </span>
                        <span>
                          | {% if course.completed != 100 %}~{% endif %}{{ course.completed }}% Done | {{ course.date|date:'M Y' }} 
                        </span>
                        {% if course.code %}
                        | <span class="mb-2">
                          <a href="{{ course.code }}" target="blank" class="badge badge-primary">
                          <i class="fab fa-github"></i> My Exercise Codes</a> 
                          {% endif %}
                        </span> 
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Button or Pagination -->
        {% url 'portfolio:index' as index %}

        {% if request.path == index %}
        <!-- Button -->
        <a
          href="{% url 'course:index' %}"
          class="btn btn-primary btn-md btn-block w-75 mx-auto mt-3 mb-5"
          role="button"
          aria-pressed="true"
        >
          Go to {{ courses_count_more }} More Course{{ courses_count_more|pluralize }} Taken
        </a>

        {% else %}
        <!-- Pagination -->
        <div class="row mx-auto mt-3 mb-5">
          <div class="col">
            <nav aria-label="...">
              {% if courses.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if courses.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ courses.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}

                {% for i in courses.paginator.page_range %}
                  {% if courses.number == i %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                  </li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if courses.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ courses.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
        {% endif %}

        <div class="d-flex flex-column text-muted mb-2">
          <small class="text-justify">&emsp; &emsp; Most of the courses taken that I found on the internet are free downloads; so, there is no certification.</small>
          <small class="text-justify">&emsp; &emsp; I follow along with the instructors building something cool in a video tutorial. Some have small projects uploaded into GitHub.</small>
        </div>
      </div>
    </section>