{% load static %}

    <section id="course" class="course">
      <div class="container my-5 p-3 vex-container-black">
        <h1 class="text-center mb-3">My Courses Taken</h1>
        <div class="vex-line bg-primary"></div>

        {% include 'portfolio/course_content.html' %}

        <a
          href="{% url 'course:index' %}"
          class="btn btn-primary btn-md btn-block w-75 mx-auto mt-3 mb-5"
          role="button"
          aria-pressed="true"
        >
          Go to {{ courses_count_more }} More Course{{ courses_count_more|pluralize }} Taken
        </a>
      </div>
    </section>