{% load static %}

<header id="header-home">
      <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col">
            <h1 class="display-4">
              Jonnel Salvador "VeXuZ" Dorotan
            </h1>
            <h2>
              I am
              <span
                class="txt-type"
                data-wait="3000"
                data-words='["Developer", "Gamer", "Gwapo"]'
              ></span>
            </h2>
          </div>
        </div>
      </div>
    </header>