{% load static %}

<header id="header-home">
      <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col">
            <h1 class="display-4">
              Jonnel Salvador "VeXuZ" Dorotan
            </h1>
            <h2>
              &nbsp;
              <span
                class="txt-type"
                data-wait="3000"
                data-words='["Backend Web Developer", "I use React", "I use Node.js"]'
                {% comment %} data-words='["Web Developer", "a", "b"]' {% endcomment %}
              ></span>
              &nbsp;
            </h2>
          </div>
        </div>
      </div>
    </header>