{% load static %}

    <section id="project" class="project">
      <div class="container my-5 p-3 vex-container-black">
        <h1 class="text-center mb-3">My Projects</h1>
        <div class="vex-line bg-primary"></div>

        {% include 'portfolio/project_content.html' %}

        <a
          href="{% url 'portfolio:projects' %}"
          class="btn btn-primary btn-md btn-block w-75 mx-auto mt-3 mb-5"
          role="button"
          aria-pressed="true"
        >
          Go to {{ projects_count_more }} More Project{{ projects_count_more|pluralize }}
        </a>
      </div>
    </section>