{% load static %}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {% for project in projects %}
          <div class="col mb-3">
            <div class="card text-dark">
              <div class="card-img">
              <img
                src="{{ project.photo.url }}"
                class="card-img-top"
                alt="..."
              />
              </div>
              <div class="card-body">
                <h6 class="card-title">{{ project.title|truncatechars:40 }}</h6>
                <small class="card-text">{{ project.description|truncatechars:50 }}</small>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                {% if project.ongoing %}
                  <span>Ongoing</span>
                  {% else %}
                  <span>{{ project.date_added|timesince }} ago</span>
                  {% endif %}
                  {% if project.website_link %}
                  | <span><a href="{{ project.website_link }}" target="blank">Demo</a></span>
                  {% endif %}
                  {% if project.github_link %}
                  | <span><a href="{{ project.github_link }}" target="blank">Source Code</a></span>
                  {% endif %}
                </small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>