{% load static %}

    <section id="project" class="project">
      <div class="container mt-5 p-3 vex-container-black">
        <h1 class="text-center mb-3">My Projects</h1>
        <div class="vex-line bg-primary"></div>


        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {% for project in projects %}
          <div class="col mb-3">
            <div class="card text-dark">
              <div class="card-img">
              <img
                src="{{ project.photo.url }}"
                class="card-img-top"
                alt="..."
              />
              </div>
              <div class="card-body">
                <h6 class="card-title">{{ project.title|truncatechars:40 }}</h6>
                <small class="card-text">{{ project.description|truncatechars:50 }}</small>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  {% if project.from_scratch %}
                    <i class="fas fa-star"></i>
                  {% else %}
                    <i class="fas fa-star-half-alt"></i>
                  {% endif %}

                  {% if project.ongoing %}
                  <span>Ongoing</span>
                  {% else %}
                  <span>{{ project.date_added|timesince }} ago</span>
                  {% endif %}

                  {% if project.website_link %}
                  | <span><a href="{{ project.website_link }}" target="blank">Demo</a></span>
                  {% endif %}
                  {% if project.github_link %}
                  | <span><a href="{{ project.github_link }}" target="blank">Source Code</a></span>
                  {% endif %}
                </small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Button or Pagination -->
        {% url 'portfolio:index' as index %}
        {% if request.path == index %}
        <!-- Button -->
        <a
          href="{% url 'portfolio:projects' %}"
          class="btn btn-primary btn-md btn-block w-75 mx-auto mt-3 mb-5"
          role="button"
          aria-pressed="true"
        >
          Go to {{ projects_count_more }} More Project{{ projects_count_more|pluralize }}
        </a>

        {% else %}
        <!-- Pagination -->
        <div class="row mx-auto mt-3 mb-5">
          <div class="col">
            <nav aria-label="...">
              {% if projects.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if projects.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}

                {% for i in projects.paginator.page_range %}
                  {% if projects.number == i %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                  </li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if projects.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
        {% endif %}

        <div class="d-flex flex-column text-muted mb-2">
          <small>Legend: </small>
          <small class="ml-3"><i class="fas fa-star"></i> - projects I've built from scratch</small>
          <small class="ml-3"><i class="fas fa-star-half-alt"></i> - projects I've built from following tutorials</small>
        </div>
      </div>
    </section>