{% load static %}

    <section class="vex-parallax bg-primary my-5 p-3">
      <div class="container">
        <h1 class="text-center mb-3">My Tech Stacks</h1>
        <div class="vex-line vex-line-parallax bg-dark"></div>
        <div class="row">
          {% for tech in technologies %}
          <div class="col-lg-6">
            <div class="d-flex align-items-center font-weight-bolder">
              <span
                class="{{ tech.icon }} mr-2 text-light"
                aria-hidden="true"
              ></span>
              <span>{{ tech.title }}</span> <span class="ml-auto">{{ tech.percent }}%</span>
            </div>
            <div class="progress mb-2">
              <div
                class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: {{ tech.percent }}%;"
                aria-valuenow="{{ tech.percent }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                25%
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>