{% extends 'base.html' %}

{% block content %}
  <section class="project">
    <div class="container mt-5 p-3 vex-container-black">
      <h1 class="text-center mb-3">My Projects</h1>
      <div class="vex-line bg-primary"></div>

      {% include 'portfolio/project_content.html' %}

      <!-- Pagination -->
      <div class="row mx-auto mt-3 mb-5">
        <div class="col">
          <nav aria-label="...">
            {% if projects.has_other_pages %}
            <ul class="pagination justify-content-center">
              {% if projects.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}

              {% for i in projects.paginator.page_range %}
                {% if projects.number == i %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if projects.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}