{% load static %}

<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="{% static 'img/avatar.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>Jonnel Salvador Dorotan</span></p>
                    <p><span class="title-s">City: </span> <span>Quezon City, Philippines</span></p>
                    <p><span class="title-s">Email: </span> <span>vexuzdorotan@gmail.com</span></p>
                    <p><span class="title-s">Degree: </span> <span>BS in Computer Engineering</span></p>

                    <div class="social-links">
                      <a href="https://www.facebook.com/dorotan.VeXuZ" target="blank" class="fab fa-facebook mr-3"><i class="bx"></i></a>
                      <a href="https://github.com/vexuzdorotan" target="blank" class="fab fa-github mr-3"><i class="bx"></i></a>
                      <a href="https://www.linkedin.com/in/jonneldorotan/" target="blank" class="fab fa-linkedin mr-3"><i class="bx"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="skill-mf mt-3">
                <p class="title-s">Skill</p>
                {% for tech in technologies %}
                <span class="{{ tech.icon }}"></span> <span>{{ tech.title }}</span> <span class="pull-right">{{ tech.percent }}%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ tech.percent }}%;" aria-valuenow="{{ tech.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About VeXuZ
                  </h5>
                </div>
                <p class="lead">
                  Under construction. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis, magna ac pulvinar vulputate, diam lacus semper odio, quis condimentum dolor neque sed quam. Fusce nec aliquet massa. Sed convallis sed orci at dapibus. Maecenas eu blandit purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eu tortor lacus. Nulla vel sem ut ipsum dapibus consectetur vitae vel leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <p class="lead">
                  Pellentesque lacinia eleifend nulla quis dictum. In vitae enim ut lorem mollis varius. Nunc porta vulputate sapien quis varius. Vivamus eleifend diam dictum efficitur eleifend. Cras interdum ante turpis, eu vestibulum enim condimentum non. Curabitur elementum fringilla sem a vestibulum. Ut imperdiet orci ac imperdiet fringilla. Pellentesque sit amet congue magna. Nam et nibh tristique, venenatis est id, accumsan enim. Curabitur finibus, sapien at tempus vestibulum, justo justo interdum ipsum, sed dignissim nisl libero sit amet arcu.
                </p>
                {% comment %} <p class="lead">
                  Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Nulla porttitor accumsan
                  tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                </p> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>