{% extends 'base.html' %}

{% block content %}
  <div class="intro intro-single route bg-image" style="background-image: url({{ post.photo.url }})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">My {{ projects_count }} Project{{ projects_count|pluralize }}</h2>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Post Single Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        {% comment %} <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                My Works
              </h3>
              <p class="subtitle-a">
                Small and Medium Projects
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div> {% endcomment %}

        <div class="row">
          {% for project in projects %}
          <div class="col-md-4">
            <div class="work-box">
              <div class="work-img">
                <a href="{{ project.photo.url }}" data-gall="portfolioGallery" class="venobox">
                  <img src="{{ project.photo.url }}" alt="" class="img-fluid" style="width:100%">
                </a>
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col">
                    <a href="{% url 'portfolio:project' pk=project.pk %}">
                      <h2 class="w-title text-primary">{{ project.title|truncatechars:40 }}</h2>
                    </a>
                    <div class="w-more">
                      <p>{{ project.description|truncatechars:40 }}</p>
                      {% comment %} <span class="w-ctegory">Web Design</span> /  {% endcomment %}
                      <span class="w-date">{{ project.date_added|timesince }} ago</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="row mb-5">
          <div class="col-md-12">
            <nav aria-label="...">
              {% if projects.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if projects.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}

                {% for i in projects.paginator.page_range %}
                  {% if projects.number == i %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                  </li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if projects.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

{% endblock content %}